target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

.idea/
*.iml

.project
.settings
.classpath

gen/
src/main/antlr4/uk/ac/imperial/pipe/parsers/gen/
.project
.classpath
.settings/
.vscode/settings.json
